
 <%= simple_form_for @book do |f| %>
<div class="container">
    <hr>
    <div class="col row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">

                    <%= f.error_notification %>
                    <h4 class="card-title mt-2">Add A New Book</h4>
                </header>
                <article class="card-body">
                    <form >
                    <br/>   
                        <div class="form-row">
                            <div class="col form-group">
                              <%= f.input :title,
                              required: true,
                              autofocus: true
                               %>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                        </div> <!-- form-row.// -->
                        <div class="col form-group">
                           <%= f.input :author %>
                        </div> <!-- form-group end.// -->
                        <div class="form-row">
                        </div> <!-- form-row.// -->
                        <div class="col form-group">
                           <%= f.input :description %>
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <%= f.button :submit, "Add Book",  class:"btn my-btn-form " %>
                        </div> <!-- form-group// -->
                    </form>
                </article> <!-- card-body end .// -->
                
    <% end %>
</div> <!--container end.//-->
<br><br>